<br>
<div id="home_text"> 
	Click on a sector of the wheel to set goals for that particular area of your life. For help with setting goals and effectively using your personalized wheel, please <%= link_to "click here for more.", help_path, :remote => true %>
</div>

<div class='hidden'>
	<% @wheel.answers.group_by(&:section).each do |section, answers| %>
		<%= section.section_name %><br>
		<span class="set_goal"> <%= link_to 'set goal', new_section_goal_path(section), :remote => true, 'data-section-id' => section.id %></span>
		<%= answers.map(&:answer_value).inspect %><br>
		<% section_sum = answers.map(&:answer_value).sum %><br>
	<% end %>
</div>

<div id="sunburst">
	<div class="wheel_back"></div>
</div>


<% link_to 'Save My Wheel', new_user_registration_path, :class => "homeButton" %>
<% unless current_user %>
<% end %>
<script type="text/javascript">
	WheelOfLife.d3();
</script>