<!-- <div class='logo'>
	<%= image_tag '360-Logo.png' %>
</div> -->
<div class='homepage_text'>
	<div id="home_titletext"> 
		Are you feeling stressed and overwhelmed in some areas of your life while severely lacking in others? Do you have a hard time separating your professional from your personal life? Not experiencing enough relaxation, fun or recreation? 
   	</div>

   	<div id="home_subtext"> 
		360 Life allows you to focus on your personal well-being and make important changes by providing an overview snapshot of how balanced your life currently appears. 
	</div>

	 <div id="home_text"> 
		Our clinically proven personal well-being tool enables you to assess each area of your life such as family and relationships, personal growth and development, health and nutrition and money and finances; and accurately measure your level of satisfaction in each so you can then set goals and track your progress according to what’s most important to you and what you would most like to achieve. If you’re truly ready to get back into the driver’s seat of your life, then start by creating your personal plan today.
	</div>

	<div>
		<a href="wheels/new" class="homeButton">I'm Ready!</a>
	</div>
</div>