html { 
    height: 100%; 
    width: 100%; 
    }
body {
    background: url("/assets/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
br {
    clear: both;
}
div {
    display: block;
}
h2 {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}
h3 {
    padding: 0 0 15px 36px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 20px;
}
.shadow {
-moz-box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
-webkit-box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
}
#container {
    margin: 0 auto;
    width: 1050px;
    text-align:left;
    padding-left: 55px;
} 
/* Logo */
#logo {
    float: left;
}
#logo img {
    width: 190px;
    margin-top: 10px;
    margin-bottom: -40px;
}
#navigation-bar {
    padding-top: 70px;
}
/* Main */
#main {
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 42px 48px 42px 48px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 30px 0 30px 0;
    clear:left;
}
.questionnaire #main {
    padding-left: 0;
    padding-right: 0;
}
#content_left {
    float: left;
    margin-right: 7px;
    display: inline-block;
    width: 560px;
}
#content_right {
    float: right;
    margin-left: 7px;
    display: inline-block;
    width: 380px;
}
.clear {
    clear: both;
}
/* Static Homepage */
#home_titletext {
    font: 24px Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-weight: bold;
    color: #767f84;
    margin-bottom: 20px;
    }
#home_subtext {
    font: 20px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #767f84;
    margin-bottom: 20px;
}
#home_text {
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #767f84;
    margin-bottom: 5px;
}
/* Home Button */
.homeButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    
    background-color:hsla(0,0%,100%,0.5);
    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    padding: 40px 120px;
    margin: 20px 0 0 320px;
    text-decoration:none;
    
    text-shadow:3px 3px 10px #3d768a;
}
.homeButton:hover {
    background-color:hsla(0,0%,100%,0.5);
}
.homeButton:active {
    position:relative;
    top:1px;
}
/* Form */
.question{
    font-size: 14px;
    display: inline-block;
}
.question h4 {
    font-weight: bold;
}
.answer_radio {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 10px 40px 20px 0px;
}
.wheel_submit_button button {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    width: 150px;
    height: 35px;
}
/* Footer */
#footer{
    height: 45px;
    padding-top: 12px;
    background-color: #aed32a;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 45px;
}
#footer #inside_nav {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    color:#898989;
    font: 12px/15px Arial, Helvetica, sans-serif;
}
#footer ul {
    clear:left;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
#footer ul li {
    float:left;
    padding-right:4px;
}
#footer #inside_nav a {
    color:#898989;
    text-decoration:none;
}
/* Navbar */
/* Some stylesheet reset */
ul.nav, .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1;
}
/* The container */
.nav {
    display: block;
    position: relative;
}
/* The list elements which contain the links */
.nav>li {
    display: block;
    float: left;
    margin: 0;
    padding: 0; 
}
/* General link styling */
.nav>li>a, .nav ul li a {
    /* Layout */
    display: block;
    position: relative;
    margin: 0 0 0 0;
    padding: 22px 65px;
    /* Typography */
    font-family: 'Yanone Kaffeesatz', Helvetica, Arial, sans-serif;
    color: #d8d8d8;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #000;
    font-size: 12px;
    /* Background & effects */
    background: #0382c7; /* Background for Internet Explorer 9 and older browsers */
    background: -webkit-linear-gradient(bottom, #0382c7, #06344d); 
    background: -ms-linear-gradient(bottom, #0382c7, #06344d); 
    background: -moz-linear-gradient(bottom, #0382c7, #06344d); 
    -webkit-transition: background .2s linear;
}
/* The main menu links */
.nav>li>a {
    border-right: 1px dotted #0382c7;
    border-left: 1px dotted #0382c7;
}
/* Rounded corners for the first link of the main menu */
.nav>li:first-child>a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-left: 0;
}
/* Rounded corners for the last link of the main menu */
.nav>li:last-child>a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 0;
}
/* The hover state of the menu/submenu links */
.nav>li>a:hover, .nav>li:hover>a, .nav ul li a:hover, .nav ul li:hover>a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    background: #aed32a;
    border-color: transparent;
}