html { 
    height: 100%; 
    width: 100%; 
    }
body {
    background: url("/assets/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
br {
    clear: both;
}
div {
    display: block;
}
.shadow {
-moz-box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
-webkit-box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
box-shadow: 10px 10px 8px rgba(137, 137, 137, 0.5);
}
#container {
    margin: 0 auto;
    width: 1050px;
    text-align:left;
    padding-left: 55px;
} 
#logoback {
    padding-top: 12px;
    background-color: #ff7700;
    border-radius: 30px 30px 30px 30px;
    margin: 20px 0 20px 0;
}
#logo {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
/* Nav-bar */
#navheader {
    height: 45px;
    margin-top: 45px;
    padding-top: 12px;
    background-color: rgb(22,129,204);
    border-radius: 30px 30px 30px 30px;
}
#navmission {
    padding-left:30px;
    float: left;
}
#navmission2 {
    padding-left:30px;
    float: left;
}
#navinspired {
    padding-left:20px;
    float: left;
}
#navinspired2 {
    padding-left:20px;
    float: left;
}
#navstore {
    padding-left:35px;
    float: left;
}
/* Main */
#main {
    border-radius: 30px 30px 30px 30px;
    background-color: rgba(255, 255, 255, 0.55);
    height: 378px;
    padding: 42px 48px 42px 48px;
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 20px 0 30px 0;
}
#content_left {
    float: left;
    margin-right: 7px;
    display: inline-block;
    width: 560px;
}
#content_right {
    float: right;
    margin-left: 7px;
    display: inline-block;
    width: 380px;
}
.clear {
    clear: both;
}
/* Static Homepage */
#home_titletext {
    font: 24px Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-weight: bold;
    color: #767f84;
    margin-bottom: 20px;
    }
#home_othertext1 {
    font: 20px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #767f84;
    margin-bottom: 20px;
}
#home_othertext2 {
    font: 18px Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #767f84;
}
/* Home Button */
.homeButton {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    
    background-color:transparent;
    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    padding: 40px 120px;
    margin: 20px 0 0 320px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #3d768a;
}
.homeButton:hover {
    background-color:transparent;
}
.homeButton:active {
    position:relative;
    top:1px;
}
/* Form */
.question{
    font-size: 14px;
    display: inline-block;
}
.question h4 {
    font-weight: bold;
}
.answer_radio {
    font-size: 14px;
    display: inline-block;
    text-align: center;
    padding: 10px 40px 20px 0px;
}
.wheel_submit_button button {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    width: 150px;
    height: 35px;
}
/* Footer */
#footer{
    height: 45px;
    padding-top: 12px;
    background-color: #aed32a;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 45px;
}
#footer #inside_nav {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 15px;
    color:#898989;
    font: 10px/15px Arial, Helvetica, sans-serif;
}
#footer ul {
    clear:left;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}
#footer ul li {
    float:left;
    padding-right:4px;
}
#footer #inside_nav a {
    color:#898989;
    text-decoration:none;
}
#mainBuild {
    position:relative;
    height: 433px;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: none #e8e8e8;
    border-left: 1px solid #e8e8e8;
}
#mainInspire {
    position:relative;
    height: 393px;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: none #e8e8e8;
    border-left: 1px solid #e8e8e8;
    background: url("../images/inspired/inspiredback.jpg") repeat-x;
}
#mainnav {
}twitter border form div-1
#mainnav .button{
    float: left;
}
#bottom-color {
    padding-top: 30px;
    padding-bottom: 28px;
}
#div-1 {
    position:relative;
    width: 928px;
}
.button_size {
    padding-top: 20px;
    padding-left: 65px;
}
.button2_size {
    padding-top: 20px;
    padding-left: 77px;
}
.button3_size {
    padding-top: 20px;
    padding-left: 84px;
}
.button4_size {
    padding-top: 20px;
    padding-left: 64px;
}
.button_1 {
    float:left;
    height: 50px;
    width: 238px;
    background: url("../images/button_left_side.jpg") no-repeat;
    cursor: pointer;
}
.button_2 {
    float:left;
    height: 50px;
    width: 238px;
    background: url("../images/button_left_gradient.jpg") no-repeat;
    cursor: pointer;
}
.button_3 {
    float:left;
    height: 50px;
    width: 238px;
    background: url("../images/button_left_gradient.jpg") no-repeat;
    cursor: pointer;
}
.button_4 {
    float:left;
    height: 50px;
    width: 238px;
    background: url("../images/button_right_side_gradient.jpg") no-repeat;
    cursor: pointer;
}
#button1_position {
    position:absolute;
    overflow:hidden;
    height: 257px;
    width: 270px;
    left: 0px;
    top: -257px;
    display:none;
}
#button2_position {
    position:absolute;
    overflow:hidden;
    height: 257px;
    width: 302px;
    left: 206px;
    top: -257px;
    display:none;
}
#button3_position {
    position:absolute;
    overflow:hidden;
    height: 257px;
    width: 302px;
    left: 444px;
    top: -257px;
}
#button4_position {
    position:absolute;
    overflow:hidden;
    height: 257px;
    width: 302px;
    left: 666px;
    top: -257px;
}
#backgray  {
    background-color:#000000;
    height: 448px;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    border-bottom: none #e8e8e8;
    border-left: 1px solid #e8e8e8;
    overflow:hidden;
    width: 951px;
    left: 0px;
    top: 10px;
    z-index: 25;
    filter:alpha(opacity=80);
    -moz-opacity: .8;
    KhtmlOpacity: .8;
    opacity: .8;
    margin-bottom: 33px;
    position:relative;
}  